button {
    height: 50px;
    width: 100px;
    outline: none;
    margin: 10px;
    background-color: #DCDCDC;
    border: 2px solid #C8C8C8;
    border-radius: 12px;
    font: Verdana;
    font-size:12px;
    letter-spacing: 2px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }